.header__link {
    display: flex;
    margin: 0;
    width: 76px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.header__link-item {
    display: flex;
    margin: 0;
    width: 76px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.header__link-name {
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    text-decoration: none;
    padding: 0;
}

.header__link_green {
    background: #3DDC84;
    color: #000;
}

@media screen and (max-width: 767px) {
    .header__link {
        width: 54px;
        height: 26px;
    }

    .header__link-item {
        width: 54px;
        height: 26px;
    }

    .header__link-name {
        font-size: 10px;
        line-height: 1.6;

    }
}