.not-found {
    width: 100%;
    height: 100vh;
}

.not-found__container {
    padding: 246px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

.not-found__error {
    max-width: 400px;
    color: #FFF;
    text-align: center;
    font-size: 140px;
    font-weight: 400;
    line-height: 1.21;
    margin: 0;
    padding: 0;
}

.not-found__error-text {
    max-width: 400px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.21;
    margin: 5px auto 0;
}

.not-found__button {
    margin: 184px auto 0;
    color: #4285F4;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    background-color: transparent;
    border: none;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .not-found__container {
        padding: 408px 0 222px;
    }
}
  
@media screen and (max-width: 767px) {
    .not-found__container {
        padding: 329px 0 30px;
    }

    .not-found__error-text {
        margin-top: 10px;
        font-size: 12px;
    }

    .not-found__button {
        margin-top: 284px;
        font-size: 12px;
    }

    .not-found__error {
        max-width: 300px;
        font-size: 80px;
    }
}